@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: #474747;
  color: #FBFBFB;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #000000;
  color: #FBFBFB;
  border: none;
}